{% extends '_base.html.twig' %}

{% block body %}
    <h1>Create an Employee Absence </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="button-green" type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="button-grey" href="{{ path('employeeabsence_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
