/* ----------------------------------
basic

colors / fonts etc. here
------------------------------------- */

body {
    margin: 0;
    background-color: #778899;
    font-family: Arial, Helvetica;
    padding: 45px 0 0 0;
}

.divide-nav {
    position: fixed;
    height: 40px;
    background-color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;

}

label {
    min-width: 10rem;
    color: #f2f2f2;
    display: inline-block;
    text-align: right;
}

