{% extends '_base.html.twig' %}

{% block body %}
    <h1>Donotsends list</h1>

    <table>
        <thead>
        <tr>
            <th>Employee</th>
            <th></th>
            <th>Service User</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for doNotSend in doNotSends %}
            <tr>
                <td>{{ doNotSend.employeeId }}</td>
                <td> is noted as not to be sent to</td>
                <td>{{ doNotSend.serviceUserid }}</td>

                <td>
                    <ul>
                        <li>
                            <a class="button-blue" href="{{ path('donotsend_show', { 'id': doNotSend.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="button-orange"
                               href="{{ path('donotsend_edit', { 'id': doNotSend.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
