{% extends '_base.html.twig' %}

{% block body %}
    <h1>Assign Employee as Do Not Send</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Mark as Do Not Send for this Service User"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('serviceuser_index') }}">Cancel and Return to Service User List</a>
        </li>
    </ul>
{% endblock %}
